
#pic-1{
    width:100%;
    height: 800px;
    
}
#main-part{
    height: auto;
}



#calculaion-section{
    background-color: rgba(151, 151, 149, 0.089);
    height: 800px;
    margin-bottom: 20px;
}
.none{
     /* display: none; */
}